<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator MVC Java Springboot</title>
</head>
<body>
<h1 align="left">Kalkulator</h1>
<form action="" method="get" align="left">
    <label for="num1">Angka pertama:</label><br>
    <input type="number" id="num1" name="num1" value="" required><br><br>
    <label for="num2">Angka kedua:</label><br>
    <input type="number" id="num2" name="num2" value="" required><br><br>
    <input  type="submit" value="+" name="operator">
    <input type="submit" value="-" name="operator">
    <input  type="submit" value="X" name="operator">
    <input  type="submit" value="/" name="operator">
    <h1 th:text="${result}"></h1>
</form>
</body>
</html>
